@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
pre::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* For horizontal scrollbar */
}

pre::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark track */
  border-radius: 4px;
}

pre::-webkit-scrollbar-thumb {
  background: #444; /* Dark gray scrollbar */
  border-radius: 4px;
  transition: background 0.3s;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #666; /* Slightly lighter on hover */
}

